<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a New Artist</h1>
    <form method="POST">
        <div>
            <label>Artist Name</label>
            <input type="text" name="name"/>
        </div>
        <div>
            <label>Birth Year</label>
            <input type="text" name="birth_year"/>
        </div>
        <div>
            <label>Country</label>
            <input type="text" name="country"/>
        </div>
        <input type="submit"/>
    </form>
</body>
</html>